/* Styling variables to centralize styling */
:root {
  /* Color Pallete */
  --palDark: #4d4646;
  --palMedium: #5b5656;
  --palLight: #7fcd91;
  --palWhite: #fff;
  --palAccent: #f5eaea;
}

/* Set box sizing universally to calculate the width & height as part of the element*/
* {
  box-sizing: border-box;
}

body {
  /* Set the viewport height to never be less than 100% */
  min-height: 100%;
  margin: 0;
  /* Set line heights for the page */
  line-height: 1;
  background-color: var(--palWhite);
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

header {
  /* Set the header to a flex container and add space between its child elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Set the header to fill the width of the viewport */
  width: 100%;
  /* Fix header to the top of the viewport */
  position: sticky;
  top: 0px;
  padding: 20px;
  background-color: var(--palWhite);
  color: var(--pal2light);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  font-size: 15px;
  /* Keep header on top of all other elements on the page */
  z-index: 1;
}

.banner-container {
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
}

.banner-img {
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  height: 700px;
  width: 100%;
}

.self-portrait {
  position: absolute;
  bottom: 25px;
  right: 30px;
  max-width: 200px;
  border-radius: 50%;
}

header h1 {
  margin: 0;
}

nav ul {
  /* Set the header to a flex container and add space between its child elements */
  display: flex;
  justify-content: space-between;
  /* Set the nav ul element width to never be less than 300px for proper spacing between  */
  min-width: 300px;
  /* Remove underline and bullets from ul elements */
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styling of links in nav bar */
nav a {
  /* Remove underline style from links in nav bar */
  text-decoration: none;
  padding: 0 10px 0 10px;
}

.container-main {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  margin-left: 15%;
  margin-right: 15%;
}

.container-cards {
  display: flex;
  flex-flow: row wrap;
  /* padding: 0 150px 20px 150px; */
  background-color: #cacaca;
  margin-bottom: 20px;
}

.card-main {
  min-width: 100%;
  height: auto;
}

.card,
.card-main {
  position: relative;
  border-style: solid;
  border-color: var(--palDark);
  flex: 1;
}

.card-label {
  position: absolute;
  background-color: var(--palLight);
  box-shadow: none;
  bottom: 10%;
  padding: 15px 40px 15px 0;
  z-index: 0;
}

.card img {
  width: 100%;
  min-width: 100px;
  border: none;
}

/* Class to style text with a wide format */
.wide-spacing {
  letter-spacing: 4px;
}

/* Remove blod font weight */
.no-weight {
  font-weight: normal;
}

/* Change display to flex column when viewport is less then 589px in width */
@media screen and (max-width: 589px) {
  nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    /* Align elements on the right side of the header */
    align-items: flex-end;
    /* Fix header from shrinking past 100px to prevent elements from becoming to close and/or out of the viewport*/
    min-width: 100px;
    min-height: 100px;
    padding: 0;
    margin: 0;
  }
  /* Adjust padding of header elements when viewport is less then 589px in width  */
  header.wide-spacing {
    padding: 0 5px 0 15px;
  }

  .container-main {
    margin: 0;
  }

  .card-label {
    padding: 10px 30px 10px 0;
  }

  section p {
    font-size: 12px;
  }
}

@media screen and (max-width: 417px) {
  .container-cards {
    flex-direction: column;
    justify-content: space-evenly;
    /* Align elements on the right side of the header */
    align-items: flex-end;
    /* Fix header from shrinking past 100px to prevent elements from becoming to close and/or out of the viewport*/
    min-width: 100px;
    min-height: 100px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 334px) {
  .card-label {
    position: sticky;
    text-align: center;
    padding: 10px 0;
  }
  section p {
    font-size: 10px;
  }

  .banner-img {
    display: none;
  }

  .self-portrait {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 50px 75px 0 100px;
  }

  .container-main {
    padding: 0px 50px;
  }

  .container-main h2 {
    text-align: center;
  }
}
